p {
  font-family: Roboto, Arial;
  /*arial is backup font*/
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0; /* body has 8px margin in default*/
  padding-top: 80px; /*avoiding conflict*/
  padding-left: 80px; /*avoiding conflict*/
}